.header-container {
  height: 10vh;
  display: flex;
  position: fixed;
  z-index: 1000;
  background-color: black;
  width: 100%;
  justify-content: space-between;

  &__logo {
    margin-left: 3.5%;
    font-size: 24px;
    font-family: 'ralewaybold';
    margin-top: 20px;
    color: white;

    &__text {
      display: none;
      @include for-size (tablet-portrait-up) {
        display: block;
        text-decoration: none;
        color: white;
      }

      &__mobile {
        display: block;
        text-decoration: none;
        color: white;
        @include for-size (tablet-portrait-up) {
          display: none;
        }
      }
    }
  }

  &__menu {
    color: white;
    margin-top: 25px;
    margin-right: 2.5%;
    font-size: 20px;
    font-family: 'arimobold';
    @include for-size (tablet-portrait-up) {
      font-size: 24px;
      display: flex;
    }

    &__link {
      letter-spacing: -.5px;
      text-decoration: none;
      color: white;
      transition: all 0.2s ease-out;

      &__back {
        letter-spacing: -.5px;
        text-decoration: none;
        display: none;
        color: white;
        transition: all 0.2s ease-out;

        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }

      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}
