.header-container {
  background-color: rgba(0, 0, 0, 0.9) ;
  height: 10vh;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;

  &__logo {
    margin-left: 3.5%;
    font-size: 2.5rem;
    font-family: 'ralewaybold';
    margin-top: 20px;
    color: white;
    &__text {
      display: none;
      @include for-size (tablet-portrait-up) {
        display: block;
        text-decoration: none;
        color: white;
      }
      &__mobile {
        display: block;
        text-decoration: none;
        color: white;
        @include for-size (tablet-portrait-up) {
          display: none;
        }
      }
    }
  }

  &__menu {
    color: white;
    margin-top: 25px;
    font-size: 2.4rem;
    margin-right: 2.5%;
    font-family: 'arimobold';
    display: none;
    @include for-size (tablet-portrait-up) {
      display: flex;
    }

    &__link {
      letter-spacing: -.5px;
      text-decoration: none;
      text-transform: uppercase;
      color: white;

      &:hover {
        text-decoration: line-through;
        opacity: 0.5;
        transition: 0.3s all ease-out;
      }
    }
  }
}
