html {
  background-color: #000000;
}

.body-container {
  padding-top: 120px;
  width: 100%;
  @include for-size (tablet-portrait-up) {
    width: 100%;
  }

  &__content {
    width: 65%;
    margin-left: 3.5%;
    margin-right: 3.5%;
    @include for-size (tablet-portrait-up) {}

    &__text {
      font-family: 'arimobold';
      line-height: 150%;
      font-size: 2.8rem;
      color: white;
      @include for-size (tablet-portrait-up) {
        font-size: 4.8rem;
      }

      &__hector {
        opacity: 0.8;
        color: #F46036;
        text-decoration: underline;

        &:hover {
          cursor: url("https://cdn.pixabay.com/photo/2016/10/05/20/25/fruits-1717543_1280.png"), default;
        }
      }
    }
  }
  &__works {
    margin-top: 50px;
    margin-left: 3.5%;
    margin-right: 3.5%;
    @include for-size (tablet-portrait-up) {
      margin-top: 200px;
    }
    &__content {
      margin-top: 100px;
      display: 100%;
      display: block;
      @include for-size (tablet-portrait-up) {
        display: flex;
      }
      &__text {
        padding-top: 10px;
        font-size: 2.2rem;
        width: 100%;
        color: white;
        line-height: 150%;
        font-family: 'arimoregular';
        @include for-size (tablet-portrait-up) {
          font-size: 3rem;
          width: 50%;
          padding-left: 40px;
        }
      }
      &__img {
        width: 100%;
        @include for-size (tablet-portrait-up) {
          width: 50%;
        }
        &__width {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
