.modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .modal-overlay {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        width: 100%;
        height: 100vh;
        z-index: 100;
        color: white;
        font-size: 5rem;
        font-family: 'arimobold';
        margin-top: 60px;
        background: black;
        &_text {
          padding-top:50px;
          padding-bottom: 50px;
          margin-left: 3.5%;
        }
    }
