.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal-overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: 100%;
  height: 100vh;
  z-index: 100;
  color: white;
  font-size: 2.9rem;
  font-family: 'arimobold';
  background: black;
  @include for-size (tablet-portrait-up) {
    font-size: 5rem;
    margin-top: 60px;
  }

  &__social {
    width: 50%;
    margin-top: 50px;
    justify-content: space-between;
    margin-left: 3.5%;
    display: block;
    font-size: 4.5rem;
    @include for-size (tablet-portrait-up) {
      width: 65%;
      font-size: 4.5rem;
      display: flex;
    }

    &__link {
      color: #F46036;
      transition: all .2s ease-out;
      text-decoration: none;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &_text {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 3.5%;
    @include for-size (tablet-portrait-up) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
.margin {
  padding-top: 20vh;
  @include for-size (tablet-portrait-up) {
      padding-top: 15vh;

  }
}
